<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather Report</title>
        <link rel="stylesheet" href="https://crantron-goweather.s3.us-east-2.amazonaws.com/static/css/output.css" />
    </head>
    <body style="background-color:#537895;" class="flex flex-col min-h-screen font-sans antialiased">
        <div class="flex-grow flex justify-center items-center">
            <div class="bg-white p-6 rounded-lg shadow-xl w-1/2">
                <h1 class="text-xl font-semibold mb-2">{{.City}}, {{.Country}}</h1>
                <div class="mb-4 grid grid-cols-2">
                    <div>
                        <img src="https://crantron-goweather.s3.us-east-2.amazonaws.com/{{GetImgNameMap .Conditions}}.png" alt="" style="width:200px" class="">
                        <div>Current temperature: {{.Temperature}}°F</div>
                    </div>
                    <div>
                        <strong>Timezone:</strong> {{.TimeZone}}<br>
                        <strong>Latitude:</strong> {{.Latitude}}<br>
                        <strong>Longitude:</strong> {{.Longitude}}<br>
                        <strong>IP Address:</strong> {{.IPAddress}}<br>
                    </div>
                </div>
                    <div>
                        <div class="grid grid-cols-10 gap-4">
                            {{range .Days}}
                            <div class="" style="margin-bottom: 2rem;">
                                <h5>{{GetDay .Datetime}}</h5>
                                <div class="">
                                    <img src="https://crantron-goweather.s3.us-east-2.amazonaws.com/{{GetImgNameMap .Conditions}}.png" alt="" class="">
                                    <h5 class="">{{.Datetime}}</h5>
                                    <div class="">
                                        <p class="">Max: {{.TemperatureMax}}°F Min: {{.TemperatureMin}}°F Conditions: {{.Conditions}}</p>
                                    </div>
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </div>
            </div>
        </div>
        <footer class="bg-gray-700 text-white text-center p-4">
            Written in GO Lang on the Edge - App Build Version: {{.Version}}
        </footer>
    </body>
</html>
